body {
    margin: 0;
    background-color: rgb(243, 243, 243);
}
.inicio{
    margin-left: 5%;
    margin-right: 5%;
    
}
.contenedor1 {
    display: flex;
    width: 100%;
    padding: 0;
}
.table_izq .foto1 {
    height: 100%;
    width: 100%;
}

.table_der {
    display: flex;
    max-width: 50%;
    width: 100%;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    padding: 50px;
    gap:20px;
}

.table_logo {
    width: 200px;
}

.table_boton {
    width: 450px;
    height: 80px;
    border: 0;
    font-size: 16px;
    letter-spacing: 1.5px;
    background-color: rgb(0, 90, 0);
    cursor: pointer;
    transition: ease-out 0.4s;
}

.table_boton:hover {
    filter: brightness(70%);
}

.table_der .boton_a {
    color: white;
    font-family: "Fjalla One", sans-serif;
    font-size: 28px;
    text-decoration: none;
}

.table_der .table_p {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: "Fjalla One", sans-serif;
}
