body{
    margin:0px;
}
.location{
text-align: center;
padding-bottom: 80px;
padding-top: 80px;
background-color: rgba(247,247,247,255);
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.locationtitle{
    font-size: 48px;
    font-style: italic;
    color: rgb(95, 95, 95);

}
.locationsubtitle{
    font-size: 30px;
    padding-bottom: 15px;
    font-style: italic;
    color: green;
}
.locationbody{
    padding-top: 30px;
    font-size: 18px;
    padding-bottom: 40px;
}
.locationcollection{
    padding-top: 30px;
    font-style: italic;
    padding-bottom: 10px;
    color: green;
}
.locationmap{
    width: 400px;
}
