body{
    margin: 0;
}


.contenedor1 {
    display: flex;
    padding: 0;
}

.table_izq
{
    width: 45%;
    .foto1
    {
        flex: 1;
        max-height: 500px;
        background-position: center;
        height: 100%;
        width: 100%;
    }
}

.table_der 
{
    flex: 1;
    position: relative;
    background-color: rgb(247, 247, 247);

        .table_logo
        {
            position: absolute;
            width: 15%;
            top: 6%;
            left: 5%;
        }

        .table_boton
        {
            position: absolute;
            top: 45%;
            left: 5%;
            width: 54%;
            height: 17%;
            border: 0;
            font-size: 16px;
            letter-spacing: 1.5px;
            background-color: rgb(0, 90, 0);
            cursor: pointer;
            box-shadow: inset 0 0 0 0 rgb(0, 90, 0);
            -webkit-transition: ease-out 0.4s;
            -moz-transition: ease-out 0.4s;
            transition: ease-out 0.4s;
        }

        .table_boton:hover
        {
            box-shadow: inset 0 100px 0 0 #000000;
        }

        .boton_a
        {
            color: white;
            font-family: "Fjalla One", sans-serif;
            font-size: 28px;
        }

        .table_p 
        {
            color: rgb(0, 0, 0);
            position: absolute;
            bottom: 25%;
            left: 6%;
            font-size: 18px;
            font-family: "Fjalla One", sans-serif;
        }
}
