body{
    margin: 0;
}


.contenedor1 {
    display: flex;
    padding: 0;
}

.table_izq
{
    width: 45%;
    .foto1
    {
        flex: 1;
        max-height: 500px;
        background-position: center;
        height: 100%;
        width: 100%;
    }
}

.table_der 
{
    flex: 1;
    position: relative;
    background-color: rgb(247, 247, 247);

        .table_logo
        {
            position: absolute;
            width: 15%;
            top: 20px;
            left: 20px;
        }

        .table_boton 
        {
            position: absolute;
            top: 45%;
            left: 5%;
            background-color: rgb(0, 90, 0);
            letter-spacing: 1.5px;
            font-size: 16px;
            width: 54%;
            height: 17%;
            border: 0;
            
        }

        .boton_a
        {
            color: white;
        }

        .table_p 
        {
            color: rgb(0, 0, 0);
            position: absolute;
            bottom: 25%;
            left: 22%;
            transform: translateX(-50%);
        }
}
