.contenedor-footer {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contenedor-footer .derechos
{
  padding-left: 100px;
}

.contenedor-footer .legal {
  padding-right: 150px;
  margin: 0;
  margin-left: auto;
  list-style-type: none;
}
