footer
{
  background-color: white;
}

.contenedor-footer {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(218, 215, 215);
  }
  
  .derechos-fo
  {
    padding-left: 100px;
  }
  
  .legal-fo
  {
    padding-right: 150px;
    margin: 0;
    margin-left: auto;
    list-style-type: none;
  }