html
{
    font-family: Poppins,helvetica,arial,sans-serif;
}

header
{
    background: white;
    height: 120px;
    border-bottom: 2px solid black;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 10px;
}
nav
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    
}

.nav_list
{
    margin: 15px; 
}
.nav_logo{
    width: 100px;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li
{
    display: inline;
}

a
{
    text-decoration: none;
    color: black;
    letter-spacing: 1.5px;
    text-shadow: 0px 0px 1px transparent;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
.rrsslogo{
    /*transform: scale(1); por si queremos hacer los svg mas grandes luego*/
    padding-left: 5px;
    padding-right: 5px;
}
.botonpedidos{
    border: 2px solid black;
    padding: 10px;
}
