*{
  font-family: 'Poppins', sans-serif;
  margin:0;
  box-sizing: border-box;
  outline: none;
  text-transform: capitalize
}

.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  background: linear-gradient(90deg, #2ecc71 60%, #27ae60 40.1%);
}

form
{
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.row
{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.col
{
  flex:1 1 250px;
}

.title
{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.inputBox
{
  margin:15px 0;
}

span
{
  margin-bottom: 10px;
  display: block;
}

input
{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
}

.flex
{
  display: flex;
  gap:15px;
}

.inputBox
{
  margin-top: 5px;
}

img
{
  height: 34px;
  margin-top: 5px;
}

.submit-btn
{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #27ae60;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.submit-btn:hover
{
  background: #2ecc71;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
  -webkit-appearance: none;
  margin: 0;
}