*{
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    background-color: #52a31b;
    color: white;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    padding: 20px;
    text-align: center;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    padding: 15px 20px;
}

.sidebar-menu li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar-footer {
    padding: 20px;
    text-align: center;
}

.logout-button {
    background-color: white;
    color: #074214;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.main-content {
    width: 100%;
    background-color: #1A1A1A;
    color: white;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

.actions {
    display: flex;
    gap: 10px;
}

.add-button,
.delete-button,
.update-button {
    background-color: #135206;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.table-container {
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #333;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
}

table th {
    background-color: #444;
}

table tr:nth-child(even) {
    background-color: #222;
}
