.contenedor2
{
    display: flex;
    padding-left: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 60px;
    gap:50px;
}

.imagen-c2
{
    width: auto;
    height:100%;
}
.textos-c2
{     
    max-width: 45%;
    display: flex;
    gap: 50px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: "Fjalla One", sans-serif;
    flex-direction: column;

}